@import '../../global.scss';

.portfolio{
  margin-top: 200px;
  position: relative;
  @media(max-width: 769px){
    margin-top: 150px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: flex-start;
    align-items: center;
  }
  &__subtitle{
    margin-bottom: -45px;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  &__item{
    border-radius: 30px;
    background: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 20px;
    gap: 25px;
    max-width: 450px;
    transition: background 0.5s ease!important;
    &:hover{
      background: $color-bg-light;
      border: 1px solid #685da0;
    }
    &-img{
      border-radius: 20px;
    }
    &-title{
      font-family: 'Open-Sans' sans-serif;
      font-weight: bold;
      font-size: 18px;
    }
    &-links{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    &-link{
      padding: 15px 20px;
      border-radius: 10px;
      border: 1px solid $color-pri;
      background: $color-bg;
      color: $color-pri;
      white-space: nowrap;
      transition: all .5s ease;
      &:hover{
        color: $color-bg;
        background: $color-pri;
        &:nth-child(2){
          background: $color-bg;
          color: $color-pri;
        }
      }
      &:nth-child(2){
        color: $color-bg;
        background: $color-pri;
      }
    }
  }
  @media(max-width: 1330px){
    &__list{
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
    &__item{
      &-title{
        font-size: 16px;
      }
      &-links{
        gap: 10px;
        margin-top: 10px;
      }
      &-link{
        padding: 10px 14px;
        font-size: 14px;
      }
    }
  }
  @media(max-width: 1023px){
    &__list{
      grid-template-columns: repeat(2, 1fr);
    }
    &__item{
      &-title{
        font-size: 15px;
      }
      &-links{
        margin-top: 5px;
      }
      &-link{
        font-size: 13px;
      }
    }
  }
  @media(max-width: 600px){
    .container{
      padding: 0;
      max-width: 83%;
    }
    &__list{
      grid-template-columns: 1fr;
    }
    &__item{
      align-items: center;
      &-title{
        font-size: 15px;
        text-align: center;
      }
      &-links{
        gap: 20px;
        margin-top: 0;
      }
      &-link{
        padding: 12px 18px;
        font-size: 13px;
      }
    }
  }
}