@import "../../../global.scss";

.header{
  margin-top: 20px;
  transform: translateY(0);
  opacity: 1;
  animation: fade-in 1s ease;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__subtitle, &__name, &__description{
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
  }
  &__subtitle{
    font-size: 26px;
    margin-bottom: -12px;
    span{
      color: $color-pri;
      font-size: 30px;
    }
  }
  &__description{
    font-size: 20px;
    font-weight: 100;
    color: $color-pri;
    font-family: "Open Sans";
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  @media(max-width: 600px){
    margin-top: 20px;
  }
  @media (max-width: 768px){
    &__subtitle, &__name, &__description{
      font-size: 32px;
    }
    &__subtitle{
      font-size: 20px;
      span{font-size: 24px;}
    }
    &__description{
      font-size: 16px;
      color: $color-pri;
    }
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
}