@import '../../global.scss';

.reviews{
  margin-top: 250px;
  position: relative;
  user-select: none;
  @media(max-width: 1023px){
    margin-top: 120px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
  }
  &-subtitle{
    margin-bottom: -70px;
  }
  &__list{
    width: 100%;
    max-width: 1000px;
    .slick-track{
      gap: 50px;
      display: flex;
      align-items: stretch;
      .slick-slide{
        height: auto;
        div:not(.reviews__item-name, .reviews__item-date){
          height: 100%;
          li{
            height: 100%;
          }
        }
      }
      @media(max-width: 1023px){
        gap: 20px;
      }
    }
  }
  &__item{
    min-width: 0; 
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: $color-bg;
    border-radius: 30px;
    padding: 30px 50px;
    // max-width: 500px; 
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all .3s linear;
    &:hover{
      background: $color-bg-light;
      border: 1px solid #6659a6;
    }
    @media(max-width: 1023px){
      padding: 25px 30px;
    }
    &-img{
      max-width: 150px;
      border-radius: 50%;
      position: relative;
      border: 5px solid $color-pri;
      @media(max-width: 1023px){
        max-width: 100px;
      }
    }
    &-name{
      font-size: 22px;
      text-align: center;
    }
    &-date{
      font-size: 14px;
      color: rgba(255,255,255,0.6);
      margin-top: -10px;
    }
    &-text{
      text-align: center;
      font-size: 16px;
    }
    @media(max-width: 1023px){
      &-name{
        font-size: 19px;
      }
      &-date{
        font-size: 12px;
        color: rgba(255,255,255,0.6);
        margin-top: -10px;
      }
      &-text{
        text-align: center;
        font-size: 14px;
      }
    }
  }
  @media(max-width: 600px){
    .container{
      // max-width: 94%;
      padding: 0!important;
    }
    &__item{
      padding: 20px 25px;
    }
    &__item-date{
      font-size: 11px;
    }
    &__item-text{
      line-height: 20px;
      font-size: 13px;
    }
  }
  .slick-arrow {
    background-image: url('../../assets/reviews/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    &::before{
      content: '';
    }
    &.slick-prev{
      transform: scale(-1) ;
      top: 48%;
    }
  }
}
