@import '../../global.scss';

.reviews{
  margin-top: 130px;
  position: relative;
  user-select: none;
  margin-bottom: 300px;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
  }
  &-subtitle{
    margin-bottom: -70px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-tart;
    align-items: center;
    gap: 15px;
    background-color: $color-bg;
    border-radius: 30px;
    padding: 30px 50px;
    max-width: 500px; 
    &-img{
      max-width: 150px;
      border-radius: 50%;
      position: relative;
      border: 5px solid $color-pri;
    }
    &-name{
      font-size: 22px;
    }
    &-date{
      font-size: 14px;
      color: rgba(255,255,255,0.6);
      margin-top: -10px;
    }
    &-text{
      text-align: center;
    }
  }
}
