@import '../../global.scss';

.contacts{
  margin-top: 250px;
  position: relative;
  @media(max-width: 1023px){
    margin-top: 120px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
  }
  &__subtitle{
    margin-bottom: -140px;
  }
  &__content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 80px;
  }
  &__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      background-color: $color-bg;
      padding: 30px 80px;
      border-radius: 30px;
      color: #fff;
      font-family: "Open-Sans", sans-serif;
      border: 1px solid transparent;
      transition: all .3s linear;
      &:hover{
        background: $color-bg-light;
        border: 1px solid #685da0;
      }
      &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
      }
      &-title{
        font-size: 22px;
        font-weight: bold;
      }
      &-text{
        font-weight: bold;
        font-size: 16px;
      }
      &-btn{
        color: $color-pri;
        font-size: 14px;
      }
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    &-item{
      border: 1px solid $color-pri;
      border-radius: 10px;
      background-color: transparent;
      padding: 1.5rem;
      width: 100%;
      resize: none;
      transition: background-color 0.3s linear;
      background-color: rgb(82, 188, 250, 0.02);
      &:focus{
        border: 2px solid $color-pri;
        background-color: rgb(82, 188, 250, 0.2 );
      }
    }
    &-btn{
      color: #000;
      background-color: $color-pri;
      border-radius: 15px;
      padding: 18px 25px;
      align-self: start;
      transition: all 0.2s linear;
      border: 1px solid transparent;
      &:hover{
        background-color: transparent;
        color: $color-pri;
        border: 1px solid $color-pri;
      }
    }
  }
  @media(max-width: 1440px){
    &__inner{
      gap: 80px;
    }
    &__subtitle{
      margin-bottom: -70px;
    }
  }
  @media(max-width: 1236px){
    &__content{
      grid-column-gap: 40px;
    }
    &__links{
      &__item{
        padding: 20px 50px;
        svg{
          font-size: 13px;
        }
        &-title{
          font-size: 18px;
        }
        &-text{
          font-size: 15px;
        }
        &-btn{
          color: $color-pri;
          font-size: 14px;
        }
      }
    }
    &__form{
      &-btn{
        padding: 15px 20px;
        font-size: 14px;
      }
    }
  }
  @media(max-width: 1023px){
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      max-width: 600px;
      gap: 50px;
    }
    &__links{
      align-items: stretch;
      &__item{
        padding: 16px 40px;
        gap: 10px;
        svg{
          font-size: 12px;
        }
        &-title{
          font-size: 16px;
        }
        &-text{
          font-size: 14px;
        }
        &-btn{
          font-size: 13px;
        }
      }
    }
    &__form{
      &-btn{
        padding: 15px 20px;
        font-size: 14px;
        align-self: center;
      }
      font-size: 14px;
    }
  }
  @media(max-width: 600px){
    .container{
      padding: 0;
    }
  }
}