@import '../../global.scss';

.skills{
  position: relative;
  margin-top: 130px;
  .container{
    padding: 0;
    @media(max-width: 767px){
      max-width: 94%;
    }
  }
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  &__title{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: $color-title;
    font-family: 'Open-Sans', sans-serif;
    @media(max-width: 767px){
      font-size: 30px;
    }
  }
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    background-color: $color-bg;
    border-radius: 30px;
    padding: 50px 140px;
    cursor: pointer;
    transition: background 0.3s linear;
    border: 1px solid transparent;
    &:hover{
      background: $color-bg-light;
      border: 1px solid #685da0;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    &-title{
      font-size: 20px;
      font-weight: bold;
      color: $color-title;
      font-family: 'Open-Sans' sans-serif;
    }
  }
  &__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    width: 130px;
    &-img{
      fill: $color-pri;
      margin-bottom: auto;
    }
    &-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 6px;
    }
    &-title{
      font-size: 16px;
    }
    &-level{
      font-size: 12px;
      font-weight: normal;
      color: rgba(255,255,255,0.65);
    }
  }
  @media(max-width: 1700px){
    &__list-wrapper{
      padding: 40px 100px;
    }
    &__list{
      grid-column-gap: 70px;
      grid-row-gap: 40px;
    }
  }
  @media(max-width: 1400px){
    &__list-wrapper{
      padding: 40px 70px;
    }
    &__list{
      grid-column-gap: 60px;
      grid-row-gap: 30px;
    }
  }
  @media(max-width: 1220px){
    &__list-wrapper{
      padding: 40px 70px;
      gap: 40px;
    }
    &__list{
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }
    &__item{
      width: 120px;
      &-title{
        font-size: 15px;
      }
    }
  }
  @media(max-width: 1075px){
    &__list-wrapper{
      padding: 30px 60px;
      gap: 30px;
    }
    &__title{
      font-size: 36px;
    }
    &__list{
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      &-title{
        font-size: 18px;
      }
    }
    &__item{
      width: 110px;
      &-title{
        font-size: 13px;
      }
      &-level{
        font-size: 10px;
      }
    }
  }
  @media(max-width: 845px){
    &__inner{
      align-items: stretch;
    }
    &__content{
      flex-direction: column;
      align-items: stretch;
      max-width: 650px;
      width: 90%;
      margin: 0 auto;
    }
    &__title{
      margin: 0 auto;
    }
    &__list-wrapper{
      padding: 40px 60px;
      gap: 50px;
    }
    &__title{
      font-size: 36px;
    }
    &__list{
      grid-column-gap: 80px;
      grid-row-gap: 40px;
    }
  }
  @media(max-width: 580px){
    &__inner{
      align-items: stretch;
      width: 100%;
    }
    .container{
      width: 100%;
    }
    &__content{
      flex-direction: column;
      align-items: stretch;
      max-width: 650px;
      width: 100%;
      margin: 0 auto;
    }
    &__title{
      margin: 0 auto;
      white-space: nowrap;
    }
    &__list-wrapper{
      padding: 40px 60px;
      gap: 40px;
    }
    &__title{
      font-size: 36px;
    }
    &__list{
      grid-column-gap: 50px;
      grid-row-gap: 30px;
      &-title{
        white-space: nowrap;
      }
    }
  } 
  @media(max-width: 430px){
    &__inner{
      gap: 45px;
    }
    &__content{
      flex-direction: column;
      align-items: stretch;
      max-width: 650px;
      margin: 0 auto;
    } 
    &__title{
      margin: 0 auto;
      white-space: nowrap;
    }
    &__list-wrapper{
      padding: 40px 60px;
      gap: 40px;
    }
    &__title{
      font-size: 32px;
    }
    &__list{
      grid-column-gap: 15px;
      grid-row-gap: 25px;
      &-title{
        white-space: nowrap;
      }
    }
  }
}