@import '../../global.scss';

.navbar{
  z-index: 1000!important;
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translate(-110px, -50%);
  margin-left: 15px;
  padding: 15px 10px;
  opacity: 0;
  gap: 45px;
  .container{
    padding: 20px 20px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    border-radius: 50px;
    width: auto;
    background-color: rgba(0,0,0,0.5); // rgba(0,0,0,0.5);
    opacity: 1; 
    border-radius: 50px;
    padding: 20px 25px;
    z-index: 99;
  }
  &__icon{
    font-size: 70px;
    border-radius: 50%;
    padding: 10px;
    transition: all 1s ease;
    fill: rgb(209,217,252);
    // background-color:  #030815;
    z-index: 100;
    &.active-nav, &:hover{
      fill: rgb(71, 104, 233);
      border: 2.3px solid rgb(71, 104, 233);
      background-color: black;
    }
  }
  @media(min-width: 1023px){
    animation: fade-nav-in 1s ease 0.6s forwards;
  }
  @media(max-width: 1440px){
    &__icon{
      font-size: 60px!important;
      padding: 7px;
    }
    animation: fade-nav-in-tablet 1s ease 0.6s forwards;
  }
  @media(max-width: 1140px){
    left: 10px;
    &__icon{
      font-size: 50px!important;
      padding: 7px;
    }
    &__list{
      padding: 12px 20px;
    }
    animation: fade-nav-in-tablet 1s ease 0.6s forwards;
  }
  @media(max-width: 767px){
    width:  100vw!important;
    top: 93%!important;
    left: 0;
    right: 0;
    padding: 0 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -60%)!important;
    animation: fade-nav-in-phone 1s ease 1s forwards;
    .container{
      padding: 0;
      margin: 0;
      width: 100%;
    }
    &__list{
      max-width: 400px;
      margin: 0 auto;
      padding: 6px 8px!important;
      flex-direction: row!important;
    }
    &__icon{
      font-size: 44px!important;
    }
  }
  @media(max-width: 435px){
    &__list{
      margin: 0 -35px;
    }

  }
  @media(max-width: 360px){
    padding: 0 4px;
    &__icon{
      font-size: 40px!important;
    }
  }
  @media(max-width: 320px){
    padding: 0!important;
    &__icon{
      font-size: 38px!important;
    }
    &__list{
      gap: 10px;
      padding: 5px 0!important;
      width: 90%;
    }
  }
}

@keyframes fade-nav-in {
  to{
    transform: translate(-15px, -50%);
    opacity: 1;
  }
}

@keyframes fade-nav-in-tablet {
  to{
    transform: translate(-40px, -50%);
    opacity: 1;
  }
}

@keyframes fade-nav-in-phone {
  from{
    transform: translate(0, 30%);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translate(0, -60%);
  }
}